# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/venv/
backend/.venv/

# IDE
.vscode/
.idea/
.vs/

# OS
Thumbs.db
.DS_Store


resourceexporter-example-output/
TLSSTestData/
**/TLContributeExamples/
backend/logs/regen.log
